<br>
<h3>Конвертация изображения в CSV формат</h3>
{{#if msg}}
          <div class="alert {{class}} alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
{{/if}}

<form action="/uploadimg" method="POST" enctype="multipart/form-data">
  <div class="form-group mb-3">
    <input name="myimage" class="form-control-file" type="file">
  </div>
  <button class="btn btn-primary" type="submit">Отправить</button>
</form>
<br> {{#if pth}}
<img style="visibility: hidden;" id="pht_edit" src="{{pth}}">
<script type="text/javascript" src="scripts/getpix.js"></script> {{/if}} {{#if file}}
<img class="img-responsive" id="photo" src="{{file}}">
<br>
<br>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Характеристики выделенной части изображения</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="size"></p>
        <p id="width"></p>
        <p id="height"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <form action="/imgprocess" method="post">
          <input type="hidden" value={{file}} name="name" id="name">
          <input type="hidden" value="0" name="x1" id="x1">
          <input type="hidden" value="0" name="y1" id="y1">
          <input type="hidden" value="100" name="w" id="w">
          <input type="hidden" value="100" name="h" id="h">
          <div class="row">
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary">Скачать CSV</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Подтвердить выделение
</button>
<br>
<br> {{/if}}
<script type="text/javascript">
  $(document).ready(function () {
    $('img#photo').imgAreaSelect({
      handles: true,
      onSelectEnd: function (img, selection) {
        document.getElementById("x1").value = selection.x1;
        document.getElementById("y1").value = selection.y1;
        document.getElementById("w").value = selection.width;
        document.getElementById("h").value = selection.height;
        document.getElementById("size").innerHTML = `Размер выделенной области: <kbd>${(selection.width * selection.height) / 8} Байт</kbd>`;
        document.getElementById("width").innerHTML = `Ширина изображения: <kbd>${selection.width} пикселей</kbd>`;
        document.getElementById("height").innerHTML = `Высота изображения: <kbd>${selection.height} пикселей</kbd>`;

        //alert(`Размер выделенной области составляет ${(selection.width*selection.height)/8} байт`);
      }
    });
  });
</script>